@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap')

$primary-color: black
$secondary-color: white
$secondary-color-darken-25: darken($secondary-color, 25%)
$secondary-color-darken-50: darken($secondary-color, 50%)
$secondary-color-darken-75: darken($secondary-color, 75%)
$selected-color: #2baccc

body
  margin: 0
  background-color: $primary-color
  font-family: 'Work Sans', sans-serif
  color: $secondary-color

@import "./pages/Layout/Layout.sass"
@import "./pages/Home/Home.sass"

@import "./components/Navbar/Navbar.sass"
@import "./components/Footer/Footer.sass"
